<br />
<font size='1'><table class='xdebug-error xe-fatal-error' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
<tr><th align='left' bgcolor='#f57900' colspan="5"><span style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Fatal error: Class 'mysqli' not found in C:\wamp64\www\smartcity_pmis\dbconfig\dbconfig.php on line <i>13</i></th></tr>
<tr><th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th></tr>
<tr><th align='center' bgcolor='#eeeeec'>#</th><th align='left' bgcolor='#eeeeec'>Time</th><th align='left' bgcolor='#eeeeec'>Memory</th><th align='left' bgcolor='#eeeeec'>Function</th><th align='left' bgcolor='#eeeeec'>Location</th></tr>
<tr><td bgcolor='#eeeeec' align='center'>1</td><td bgcolor='#eeeeec' align='center'>0.0024</td><td bgcolor='#eeeeec' align='right'>180640</td><td bgcolor='#eeeeec'>{main}(  )</td><td title='C:\wamp64\www\smartcity_pmis\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>0</td></tr>
<tr><td bgcolor='#eeeeec' align='center'>2</td><td bgcolor='#eeeeec' align='center'>0.0030</td><td bgcolor='#eeeeec' align='right'>183192</td><td bgcolor='#eeeeec'>include( <font color='#00bb00'>'C:\wamp64\www\smartcity_pmis\dbconfig\dbconfig.php'</font> )</td><td title='C:\wamp64\www\smartcity_pmis\index.php' bgcolor='#eeeeec'>..\index.php<b>:</b>2</td></tr>
</table></font>
PHP Fatal error:  Class 'mysqli' not found in C:\wamp64\www\smartcity_pmis\dbconfig\dbconfig.php on line 13
PHP Stack trace:
PHP   1. {main}() C:\wamp64\www\smartcity_pmis\index.php:0
PHP   2. include() C:\wamp64\www\smartcity_pmis\index.php:2
